.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #161513;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 50px;
    cursor: pointer;
}
.nav-menu .nav-con {
    display: none;
}
.logo{
    position: relative;
}
.logo img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.social-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-links a img:hover {
    transform: scale(1.2);
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin-right:50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-menu .nav-con {
        display: block;
        /* padding-left: 100px; */
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 20px;
        margin-left: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
    }
    .nav-mob-open:hover {
        transform: scale(1.2);
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
    }
    .nav-mob-close:hover {
        transform: scale(1.2);
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}