.intro{
    margin-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.intro h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.intro h1 span{
    background: linear-gradient(270deg, #DF8908 0.10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.intro p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin: 25px 0px;
}
.action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin: 50px 0px;
}
.connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;

}
.connect:hover{
    border: 2px solid white;   
}
.resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
    .intro h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .intro p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .resume{
        padding: 20px 30px;
        border-radius: 40px;
    }
}