.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}
.experience-title{
    position: relative;
}
.experience-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.experience-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.experience-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.experience-card {
    /* background: #32323c; */
    padding: 20px;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #d8d8d8;
    width: 75%;
}
.experience-card:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    margin-Bottom: 5px;
}
.connector{
    width: 4px;
    height: 40px;
    background: linear-gradient(270deg, #DF8908 60%, #B415FF 100%);
}
.position{
    background: linear-gradient(270deg, #DF8908 70.10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.company{
    font-size: 18px;
    font-Weight: 500;
    color: #b8b8b8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.duration{
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
}
.description{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.download-button {
    display: flex;
    align-items: center;
    padding: 2px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 24px;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 40px;
}

.download-button:hover {
    border: 2px solid white; 
}
.experience-card a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.experience-card a img{
    margin-left: 2px;
    width: 1.5rem;
    height: 1rem;
}
@media(max-width:768px){
    .experience{
        gap: 40px;
        margin: 90px 70px;
        align-items: start;;
    }
    .experience-title h1{
        font-size: 50px;
        padding: 0;
    }
    .experience-title img{
        width: 130px;
        right:-20px;
    }
    .download-button{
        padding: 2px 30px;
        font-size: 15px;
        font-weight: 500;
    }
    .download-button img{
        width: 25px;
        height: 25px;
    }
    .experience-card {
        width: 85%;
        padding: 15px;
    }
    .position{
        font-size: 18px;
    }
    .company{
        font-size: 15px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .duration{
        font-size: 12px;
    }
    .description{
        margin-top: 6px;
        font-size: 15px;
        line-height: 1.5;
    }
    .experience-card a img{
        width: 0.8rem;
        height: 0.8rem;
    }
}